// @import '/src/styles/abstracts/mixins';
// @import '/src/styles/abstracts/variables';


.navbarContainer {
    width: 100%;
    padding: 40px 110px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logoFont {
    color: #CACFD6;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 35px */
    letter-spacing: -1.4px;
}

.leftFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 300px;

    color: #CACFD6;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: -0.81px;
}

.navOptFlex {
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}