

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 4px solid #f85a3e00;
    background: transparent;
    transform-style: preserve-3d;

    .box_ {
        position: absolute;
        width: 300px;
        aspect-ratio: 1 / 1;
        background: transparent;
        transition: all 0.4s ease-in-out;
        backface-visibility: hidden;
        image-rendering: pixelated;

    }

}


.smallBox {
    position: absolute;
    border: 1px solid #cacfd65e;
    transform: rotate(45deg);
    animation: none;
    transition: all 0.3s ease-in-out;
}

.smallBoxMask {
    position: absolute;
    background-color: transparent;
}

.smallBoxMaskBefore{
    border: 50px solid rgba(141, 141, 141,1);
    width: 140px;
    height: 140px;
    transition: all 0.2s ease-in-out 0.15s;
    transform: rotate(45deg) translateZ(1px);
}

.smallBoxMaskAfter {
    border: 1px solid rgba(141, 141, 141, 0);
    width: 40px;
    height: 40px;
    transition: all 0.2s ease-in-out;
    transform: rotate(0deg) translateZ(1px);
}

.customBoxOutside {
    position: absolute;
    border: 2px solid #f85a3e5b;
}

.customBox1Start {
    width: 240px;
    height: 240px;
}

.customBox1End {
    width: 120px;
    height: 120px;
}

.customBox2Start {
    width: 184px;
    height: 184px;    
}

.customBox2End {
    width: 120px;
    height: 120px;    
}
